<web-app>

    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>by.vorokhobko.servlets.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>by.vorokhobko.servlets.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/createAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>by.vorokhobko.servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>by.vorokhobko.servlets.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>by.vorokhobko.servlets.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>by.vorokhobko.servlets.ShowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>